/* generic styles */

:root {
    --blue-gradient: linear-gradient(153deg, rgba(96,65,255,1) 19%, rgba(44,186,255,1) 100%);
    --green-gradient: linear-gradient(153deg, rgb(96, 211, 85) 19%, rgba(0,193,255,1) 100%);
    --orange-gradient: linear-gradient(153deg, rgba(228,77,77,1) 19%, rgba(255,248,0,1) 100%);
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: var(--blue-gradient); /*default*/
}

/* title side */

.left {
    width: 25vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
    position: fixed;
    top: 150px;
}

.themes {
    display: flex;
    position: relative;
    top: -120px;
}

.themes > *{
    width: 30px;
    height: 30px;
    margin: 0 3px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

#blue {
    background: rgb(96,65,255);
    background: linear-gradient(153deg, rgba(96,65,255,1) 19%, rgba(44,186,255,1) 100%);
}

#green {
    background: rgb(106,255,92);
    background: linear-gradient(153deg, rgba(106,255,92,1) 19%, rgba(0,193,255,1) 100%);
}

#orange {
    background: rgb(255,99,60);
    background: linear-gradient(153deg, rgba(255,99,60,1) 19%, rgba(255,239,0,1) 100%);
}

.theme-border {
    border: 3px solid rgb(33, 33, 33);
}

.credits {
    position: relative;
    bottom: -270px;
}

.credits a {
    color: white;
    font-size: 12px;
}

/* form side */

.right {
    background-color: white;
    width: 45vw;
    height: 80vh;
    border-radius: 15px;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.05);
}

.description, .form, .checkout {
    border: 0px solid black;
}

.description {
    height: 100px;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    margin: 9px 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -60px;
}

form {
    display: grid;
    width: 600px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
} 

label {
    margin-bottom: 4px;
}

input {
    height: 30px;
    width: 240px;
    font-size: inherit;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;

}

.checkout {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    color: white;
    width: 200px;
    height: 42px;
    border: 0;
    background-color: #0091ff;
    border-radius: 8px;
    font-size: inherit;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #0085eb;
    transition: 0.2s;

}
