/* generic styles */

:root {
    --blue-gradient: linear-gradient(153deg, rgb(96,65,255) 19%, rgb(44,186,255) 100%);
    --green-gradient: linear-gradient(153deg, rgb(96, 211, 85) 19%, rgb(0,193,255) 100%);
    --orange-gradient: linear-gradient(153deg, rgb(192, 64, 64) 19%, rgb(238, 230, 0) 100%);
    --blue-solid: rgb(0, 170, 255);
    --green-solid: rgb(85, 211, 156);
    --orange-solid: rgb(243, 128, 57);
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: var(--blue-gradient); /*default*/
}

/* title side */

.left-container {
    width: 25vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
    position: fixed;
    top: 150px;
}

.theme-buttons {
    display: grid;
    grid-template-columns: repeat(3, 35px);
    align-content: space-evenly;
    align-items: center;
}

#blue, #green, #orange{
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

#blue {
    background: var(--blue-gradient);
}

#green {
    background: var(--green-gradient);
}

#orange {
    background: var(--orange-gradient);
}

.theme-border { /* this adds border to selected theme button*/
    /* border: 3px solid rgb(33, 33, 33); */
    box-shadow: 0 0 0 2.5px rgb(33, 33, 33);
}

.credits {
    position: relative;
    bottom: -270px;
}

.credits a {
    color: white;
    font-size: 12px;
}

/* form side */

.right-container {
    background-color: white;
    width: 45vw;
    height: 80vh;
    border-radius: 15px;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.05);
}

.description, .form, .checkout {
    border: 0px solid black;
}

.description {
    height: 100px;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    margin: 9px 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -60px;
}

form {
    display: grid;
    width: 600px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
} 

label {
    margin-bottom: 4px;
}

input {
    height: 30px;
    width: 240px;
    font-size: inherit;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;

}

.checkout {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#create-account {
    color: white;
    width: 200px;
    height: 42px;
    border: 0;
    background-color: var(--blue-solid);
    border-radius: 8px;
    font-size: inherit;
    font-weight: bold;
}

#create-account:hover {
    cursor: pointer;
    background-color: #0085eb;
    transition: 0.2s;

}
